<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div class="page-header text-center text-primary"
         style="margin: 5px auto">
    <h1>
        运营商信息管理系统
    </h1>
    </div>
    <div class="page-header text-center text-warning"
         style="margin: 5px auto">
        <h4>添加新用户信息</h4>
    </div>

    <title>新增</title>
    {# 导入框架的css #}
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body style="background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpic.jj20.com%2Fup%2Fallimg%2F1111%2F02141Q60635%2F1P214160635-6.jpg&refer=http%3A%2F%2Fpic.jj20.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1653756313&t=307537ded5422841d9bbff1e4a1b1e7f');
        background-size: cover;">
<form style="width:400px; margin: 20px auto"
      method="post"
      class="form-floating">
    <div class="container" style="width: auto;margin: 10px auto">
        <div class="row">

            <div class="col-4">
                <a class="btn btn-primary" href="/admin">返回</a>
            </div>
        </div>
    </div>
    <div class="form-floating  mb-3">
        <input type="text"
               class="form-control"
               id="floatingInputValue"
               placeholder="name@example.com"
               name="phone">
        <label for="floatingInputValue" class="form-label">电话号码</label>

    </div>


    <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="name">
        <label for="exampleInputPassword1" class="form-label">姓名</label>
    </div>


    <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="password">
        <label for="exampleInputPassword1" class="form-label">密码</label>
    </div>


    <div class="form-floating mb-3">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="IDnum">
        <label for="exampleInputPassword1" class="form-label">身份证号</label>

    </div>
    <div class="form-floating mb-3">
        {#        <input type="text"#}
        {#               class="form-control"#}
        {#               id="exampleInputPassword1"#}
        {#               placeholder="name@example.com"#}
        {#               name="ADMIN"#}
        {#        >#}
        <select name="ADMIN"
                class="form-select"
                id="floatingSelect"
                aria-label="Floating label select example">
            {#            sellected默认选项#}
            {#            <option selected>请选择</option>#}
            <option value="否" selected>否</option>
            <option value="是">是</option>
            {#            <option value="否">否</option>#}
        </select>
        <label for="exampleInputPassword1" class="form-label">是否管理员</label>

    </div>
    <div class="form-floating mb-3  input-group">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="balance"
        >
        <label for="exampleInputPassword1" class="form-label">话费余额</label>
        <span class="input-group-text" id="basic-addon2">元</span>

    </div>
    <div class="form-floating mb-3 input-group ">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="payable"
        >
        <label for="exampleInputPassword1" class="form-label">本期应付</label>
        <span class="input-group-text" id="basic-addon2">元</span>

    </div>
    <div class="form-floating mb-3 input-group ">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="basic_fee"
        >
        <label for="exampleInputPassword1" class="form-label">月基本费</label>
        <span class="input-group-text" id="basic-addon2">元</span>

    </div>
    <div class="form-floating mb-3 input-group ">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="extra_fee"
        >
        <label for="exampleInputPassword1" class="form-label">套餐外费用</label>
        <span class="input-group-text" id="basic-addon2">元</span>

    </div>
    <div class="form-floating mb-3 input-group">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="basic_call"
        >
        <label for="exampleInputPassword1" class="form-label">套餐含语音通话</label>
        <span class="input-group-text" id="basic-addon2">分钟</span>
    </div>
    <div class="form-floating mb-3 input-group">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="basic_traffic"
        >
        <label for="exampleInputPassword1" class="form-label">套餐含流量</label>
        <span class="input-group-text" id="basic-addon2">GB</span>

    </div>
    <div class="form-floating mb-3 input-group">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="total_call"
        >
        <label for="exampleInputPassword1" class="form-label">语音通话总时长</label>
        <span class="input-group-text" id="basic-addon2">分钟</span>

    </div>
    <div class="form-floating mb-3 input-group">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="total_traffic"
        >
        <label for="exampleInputPassword1" class="form-label">流量已使用</label>
        <span class="input-group-text" id="basic-addon2">GB</span>

    </div>
    <div class="form-floating mb-3 input-group">
        {#        <input type="text"#}
        {#               class="form-control"#}
        {#               id="exampleInputPassword1"#}
        {#               placeholder="name@example.com"#}
        {#               name="VPN_service"#}
        {#        >#}
        <select name="VPN_service"
                class="form-select"
                id="floatingSelect"
                aria-label="Floating label select example">
            <option value="是" selected>是</option>
            <option value="否">否</option>

        </select>
        <label for="exampleInputPassword1" class="form-label">是否开通VPN</label>

    </div>
    <div class="form-floating mb-3 input-group">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="extra_call"
        >
        <label for="exampleInputPassword1" class="form-label">超出语音</label>
        <span class="input-group-text" id="basic-addon2">分钟</span>

    </div>
    <div class="form-floating mb-3 input-group">
        <input type="text"
               class="form-control"
               id="exampleInputPassword1"
               placeholder="name@example.com"
               name="extra_traffic"
        >
        <label for="exampleInputPassword1" class="form-label">超出流量</label>
        <span class="input-group-text" id="basic-addon2">GB</span>

    </div>

    <div  class=" d-grid col-3 mx-auto" style="margin: 40px">
    <button type="submit" class="btn btn-primary " >提交</button>
    </div>
</form>
</body>
</html>
